.pimg{
    height:200px;
}
.aimg{
    border-radius:50%;
    width:250px;
    height:220px;
}
@media screen and (max-width:470px){
    .aimg{
        height:100px;
    }
    .pimg{
        height:100px;
    }
    .ribbon{
        height:50px;
    }
}
a:hover{
    text-decoration:underline;
}
a{
    text-decoration:None;
}
.footer{
    background: linear-gradient(to right, #a8ff78 0%, #78ffd6 100%);
    overflow:hidden;
}
#header{
    background-image:url('https://media.istockphoto.com/vectors/indian-farmer-with-a-traditional-plough-vector-id1185572523?k=6&m=1185572523&s=612x612&w=0&h=BSLGoRO9IwU2GKkHie3jfn4YOhUfc6m1z-KuVeUgdG8=');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
}

.non-semantic-protector { position: relative; z-index: 1; }
.ribbon {
    font-size: 20px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
   
    width: 100%;
       
    position: relative;
    background: #f7ea00;
    color: red;
    text-align: center;
    padding:1em 1em; /* Adjust to suit */ /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
   }
   .ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #f7ea00;
    z-index: -1;
   }
   .ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
   }
   .ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
   }
   .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #f7ea00 transparent transparent transparent;
    bottom: -1em;
   }
   .ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
   }
   .ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
   }
   .mainbody{
    background:radial-gradient(pink,white);
    animation: animate 5s linear 1s infinite alternate;
   }
   @keyframes animate{
       0% {background:radial-gradient(#ff8882,white);}
       30% {background:radial-gradient(#9ede73,white);}
       60% {background:radial-gradient(#f2b4b4,white);}
       100% {background:radial-gradient(#29bb89,white);}
   }